<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Submission</title>
</head>
<body>
    <h1>Image</h1>
    <hr>
    {% if img_src %}
        <img src="{{ img_src }}">
    {% endif %}

    <h1>Result</h1>
    <hr>
    {% if extracted_text %}
        <p>The extracted text from the image above:<br><br><b>{{ extracted_text }}</b></p>
    
    {% else %}
        extracted text here
    {% endif %}
</body>
</html>