<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image and text recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1 class="header">Image uploaded</h1>
    <hr>
    <div class="submit-container">
        <div class="img-container">
        {% if img_src %}
            <img id="image" src="{{ img_src }}">
        {% endif %}
        </div>
        <div class="info-wrapper">
            <h2>Extracted Text:</h3>
            <br>
            <div class="text-container">
            {% if extracted_text %}    
                <p><b>{{ extracted_text }}</b></p>
            {% else %}
                <p><b>Text extraction unsuccessful!</b></p>
            {% endif %}
            </div>
            <div class="store_btn-container">
                <form method="POST" action="/new_record">
                    <input type="submit" id='store-btn' name='store' value="Store customer information">
                </form>
                <form action="/upload">
                    <input type="submit" id='submit-upload-btn'value="Upload another image">
                </form>
            </div>
        </div>
    </div>
</body>
</html>