<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="upload-container">
    <h1 class="header">Upload an image & extract text</h1>
    <hr>
    <div class="wrapper">
        <form method="POST" action="/submit" id="uploader" enctype=multipart/form-data>
            <input type="file" id="choose-btn" name="file">
            <input type="submit" id="upload-btn" value="Upload">
        </form>
    </div>
    </div>

    {% if msg %}
    <h3 style="text-align:center;">{{ msg }}</h3>
    {% endif %}
</body>
</html>